* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */

.user-card {
  width: 240px;
  height: 56px;
  border: 1px solid #e5eaef;
  border-radius: 4px;
  padding: 8px 12px;
}

.user-card::after {
  content: "";
  clear: left;
  display: block;
}

.user-photo,
.user-name {
  float: left;
}

.user-photo {
  position: relative;
  margin-right: 12px;
}

.user-photo img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-status {
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #21d891;
  bottom: -2px;
  right: -2px;
}

.user-name {
  padding: 8px 0;
}
